<!DOCTYPE html>
<html>

<head>
  <title>Student Sign In</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
<div id="app">

  <div id="new-student-form-errors" class="m-2">
    <!-- TODO show errors from form validation -->
    <div v-if="formError.length > 0" class="alert alert-danger">
      <li v-for="error in formError">
        {{ error }}
      </li>

    </div>

  </div>


  <div id="new-student-form" class="card add-student m-2 p-2">

    <h4> {{ studentCount }} student(s) in the class</h4>
    <h4 class="card-title">Add new student</h4>

    <div class="form-group mb-3">
      <label for="name">Name</label>
      <!-- TODO v-model newStudentName -->
      <input v-model.trim="newStudentName" id="name" class="form-control">
      <!--let's work on adding a new student and we use v-model to bind the data two way       -->
    </div>

    <div class="form-group mb-3">
      <label for="starID">Star ID</label>
      <!-- TODO v-model newStarID -->
      <input v-model.trim="newStarID" id="starID" class="form-control">
    </div>

    <!-- TODO v-on:click event handler
    the button should add the new student and their id to the list and we can do using the v-on function and it will
    listen the click event -->
    <button v-on:click="addStudent" class="btn btn-primary">Add</button>
  </div>


  <div id="student-list-table" class="card m-2 p-2">
    <h4 class="card-title">Student List</h4>
    <div id="student-table">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>StarID</th>
          <th>Present?</th>
          <th>Delete?</th>
        </tr>
        </thead>

        <tbody>
        <!-- add the students data to the table and we don't know how many students we have so we will use the for loop
        to loop over the students list. we use the v-for library from the vue -->
        <tr v-for="student in sortedStudent">
          <td>{{ student.name }}</td>
          <td>{{ student.starID }}</td>
          <td>
            <input type="checkbox" v-model="student.presence" v-on:change="arriveOrLeft(student)">
            <!--we need to display a message saying welcome or goodbye for the most recent student added or leave.
             we can do that using the v-on:change and write a function that figure out the most recent student added or leave-->
            <span v-if="student.presence" class="mx-3" >Here!</span>
            <!--now we can add a function called arriveOrLeft in the script and work on it-->
            <span v-else class="mx-3"> Not present </span>
          </td>
          <td>
            <button v-on:click="deleteStudent(student)" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</button>
          </td>

        </tr>
        <!-- TODO create table rows
        Each row will have a checkbox, bound to the app's data
        When the checkbox is checked/unchecked,
        the student will be signed in/out -->

        </tbody>

      </table>
    </div>
  </div>

  <div id="welcome-or-goodbye-message" class="m-2">

    <!-- TODO show a message when student arrives or leaves  -->
    <div v-if="mostRecentStudent.name">
      <div v-if="mostRecentStudent.presence" class="alert alert-success">
        Welcome, {{ mostRecentStudent.name }}!
      </div>
      <div v-else class="alert alert-info">
        Goodbye, {{ mostRecentStudent.name }}. see you later!!
      </div>

    </div>


  </div>

</div>

<script>
  //we will set up our vue app here to manage the html
  // import some library from the vue
    const {createApp, ref, computed} = Vue
    // now we call the create app to create the app
    createApp({
      setup(){
        // we will create a variable for new student name and star ID and it should be responsive
        const newStudentName = ref('')
        const newStarID = ref('')

        // return the new student name and star id
        // create the ref data
        // our page expect the list of student with a property of name, star id and their presence with a boolean value
        // so let's create the student list and it is an object
        const studentList = ref([
          {name: 'A.studentA', starID: 'aa1234aa', presence:false},
          {name: 'B.studentB', starID: 'bb1234bb', presence: false},
        ])
        // create function
        // create the computed data if there is one
        // let's create a function that add the new students to the student list when it is called
        // check if there is no error in the form and if there is an error in the form, let's put the error in the array
        // create a variable for form error and put empty for its value

        const mostRecentStudent = ref({})
        const formError = ref([])

        // create a function called arriveOrLeft to check which student arrive or left recently
        function deleteStudent(studentToDelete){
          if(confirm(`Delete ${studentToDelete.name}`)){
            studentList.value = studentList.value.filter(student => student != studentToDelete)
          }
        }
        function arriveOrLeft (student){
          mostRecentStudent.value = student
        }

        function addStudent(){

          formError.value = []

          // here let's check if there is a value at the new student name and star id
          // if there is no a value, put there error message in the form array
          if (newStudentName.value.length == 0){
            formError.value.push('student name must be entered')
          }
          if (newStarID.value.length == 0){
            formError.value.push('starID must be entered')
          }
          if(formError.value.length == 0){
            let student = {
              name: newStudentName.value,
              starID: newStarID.value,
              presence: false
            }
            newStudentName.value = ''
            newStarID.value = ''
            studentList.value.push(student)
          }


        // adding a computed property to sort the student list in alphabetic order and count the number of students in the class
        //create a function that sort the student in alphabetical order
        }

        const sortedStudent = computed(()=>{
          return studentList.value.toSorted( (student1, student2) =>{
            return student1.name.localeCompare(student2.name)
          })
        })

        const studentCount = computed( () =>{
          return studentList.value.length
        })



        return {
          studentList,
          newStudentName,
          newStarID,
          addStudent,
          formError,
          arriveOrLeft,
          mostRecentStudent,
          deleteStudent,
          sortedStudent,
          studentCount
          // we will return the ref elements
          // we will return the functions
          // we will return the computed data

        }
      }
    }).mount('#app')

  // TODO Vue app

</script>

</body>

</html>